.heading {
  text-align: center;
}

.blog-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-form input {
  height: 30px;
}

.blog-form textarea {
  height: 100px;
}

.blogs-display {
  max-width: 500px;
}
