body {
  background-color: rgb(39, 32, 39);
  color: rgb(228, 198, 255);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

button {
  background-color: rgb(171, 156, 179);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 300ms;
}
button:hover {
  background-color: rgb(94, 85, 99);
}

.choice span {
  margin-right: 10px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.choice span:hover {
  background-color: rgb(94, 85, 99);
}
