* {
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 32, 39);
  color: rgb(228, 198, 255);
}
.App {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  margin-top: 30px;
  margin: 10px;
}

button {
  background-color: #d993ff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 300ms;
}
button:hover {
  background-color: #994cc0;
}
.button-active {
  border: 1px solid white;
  background-color: #994cc0;
}

/* stone paper scissor */

.choice span {
  margin-right: 10px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.choice span:hover {
  background-color: #5e5563;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* quotes */

.quotes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fetch-button {
  align-self: center;
  border: 1px solid #dfcef3;
  color: #dfcef3;
  background-color: #4c065f51;
  margin-right: 10px;
}
.fetch-button:hover {
  background-color: #22012b8e;
}

/* form  */

.form-container {
  display: flex;
  justify-content: center;
  background-color: #3400504b;
  border: 1px solid #e986ff;
  border-radius: 15px;
  width: 500px;
  padding: 0 30px 30px;
}

@media screen and (max-width: 550px) {
  .form-container {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .form-container {
    max-width: 300px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form label {
  display: block;
}

.form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline-color: #e986ff;
}

.form p span {
  color: #ca74f9;
  text-decoration: underline;
  cursor: pointer;
}
.form p span:hover {
  color: #ab0fff;
}

.form-errors {
  margin: 0;
  color: rgb(216, 98, 98);
}

/* to-do list */
.todo-list {
  background-color: #3400504b;
  border: 1px solid #e986ff;
  border-radius: 15px;
  max-width: 500px;
  padding: 0 30px 30px;
  min-height: 400px;
}

.inputField {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  gap: 10px;
}

.inputField input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline-color: #e986ff;
}

.tasks-field {
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  padding: 10px;
  color: #381e46;
  background-color: #dfcef3;
}
.tasks-field ul {
  list-style: none;
}

.tasks-field li {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(10, auto);
  border-bottom: 1px solid rgb(166, 140, 175);
  padding: 5px;
}

.list-index {
  color: #79658f;
}

.task-delete {
  color: #de5087;
  text-decoration: underline;
  cursor: pointer;
  grid-column: 10;
}
.task-delete:hover {
  color: #ff0062;
}

/* tic tac toe */
/* .tictac- */
